# App
APP_PORT=3000
NODE_ENV=dev

# Oracle
ORACLE_CDB=XE
ORACLE_HOST=oracle # Nombre del servicio en Docker Compose
ORACLE_PORT=1521
ORACLE_SERVICE=XEPDB1
ORACLE_ADMIN=system
ORACLE_PASSWORD=password
ORACLE_APP_USER=APP_USER
ORACLE_USER_PASSWORD=app_pass